@font-face {
  font-family: "Noto Sans CJK JP";
  font-style: normal;
  font-weight: 400;
  src: url('assets/font/NotoSansCJKjp-Regular.otf') format('woff2'),
    url('assets/font/NotoSansCJKjp-Regular.woff') format('woff'),
    url('assets/font/NotoSansCJKjp-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Noto Sans CJK JP";
  font-style: normal;
  font-weight: 500;
  src: url('assets/font/NotoSansCJKjp-Medium.woff2') format('woff2'),
    url('assets/font/NotoSansCJKjp-Medium.woff') format('woff'),
    url('assets/font/NotoSansCJKjp-Medium.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans CJK JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
